/*-- RESET --*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: white;
}

ol,
ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
}

/*--/ RESET --*/

/*-- GRID LAYOUT --*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.row>* {
    padding: 0 10px;
}

.col-grow {
    flex-grow: 1;
}



.col-33 {
    width: calc(100%/3);
}

/*--/ GRID LAYOUT --*/

/*-- GENERAL --*/

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

/*--/ GENERAL --*/

/*-- HEADER --*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.header-row {
    justify-content: space-between;
    background-color: #ff6900;
    min-height: 70px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    display: flex;
    color: white;
}

.nav-list li {
    padding-left: 15px;
}

.row .logo {
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--/ HEADER --*/

/*-- MAIN --*/

main {
    padding-top: 70px;
}

.product {
    padding-top: 50px;
}

.product .product-img-hover {
    display: none;
}

.product:hover .product-img-hover {
    display: block;
}

.product:hover .product-img-default {
    display: none;
}

.price-sale {
    color: red;
}

.price-old {
    text-decoration: line-through;
    font-size: 15px;
}

.tags {
    bottom: 90px;
}

.sale {
    background-color: rgb(255, 2, 2);
    color: white;
    font-size: small;
    padding: 5px;
}

.eco {
    background-color: rgb(0, 129, 24);
    color: white;
    font-size: small;
    padding: 5px;
    margin-left:3px ;
}

.favourite {
    top: 70px;
    right: 10px;
}

.favourite button {
    background-color: white;
    font-size: 35px;
    padding: 5px 15px 5px 15px;
    /* display: none;  */
}

.product:hover .favourite {
    display: block;
}

/*--/ MAIN --*/